@font-face
  font-family: 'Akrobat'
  src: url('../fonts/Akrobat/Akrobat-Regular.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: url('../fonts/Akrobat/Akrobat-ExtraBold.woff2') format("woff2")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: url('../fonts/Akrobat/Akrobat-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal


