@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	padding: 20px 0
	background: rgba(255, 255, 255, 0.9)
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05)
	backdrop-filter: blur(45px)
	transform: translate(0 0)
	transition: all .3s

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 10px 0
		z-index: 9999
		transform: translate(0 0)
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

		&+.content
			padding-top: 90px

	&-wrap
		display: flex
		align-items: center
		justify-content: space-between

	&-logo
		display: flex
		align-items: center

	&-contacts
		display: flex

		&__item
			position: relative
			padding: 0 0 0 21px
			margin-right: 30px

			&:last-child
				margin-right: 0

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 12px
				height: 18.5px
				background: url(../img/marker-ic.svg)

			strong
				display: block
				margin-bottom: 4px
				font-size: 14px
				line-height: 16px

			span
				font-size: 14px
				line-height: 16px
				color: #666


	&-tel
		text-align: right

		&__number
			display: block
			font-family: Akrobat
			font-weight: 800
			font-size: 28px
			line-height: 34px

		&__callback
			color: #184487
			border-bottom: 1px dashed

			&:focus
				color: #184487

		

.banner
	position: relative
	max-width: 1920px
	margin: 0 auto 64px
	height: 786px
	background: url(../data/offer-1.png)
	background-size: cover
	background-position: center

	&-combine
		background: url(../data/offer-2.png)
		background-size: cover
		background-position: center

	&-uav
		background: url(../data/offer-3.png)
		background-size: cover
		background-position: center

		.h1
			font-size: 42px
			line-height: 50px

		.h1-footnote
			color: #fff
			background: linear-gradient(263.33deg, #147DDD 0%, #0E469B 100%)

			&::before
				border-top: 10px solid #0E469B
				border-left: 10px solid #0E469B
				

	.container
		display: flex
		align-items: flex-end
		height: 100%

	

	.h1
		margin-bottom: 40px

	>img
		display: block
		margin: 0 auto
		object-fit: cover

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0

		&__text
			padding-bottom: 340px

	&-scroll
		position: absolute
		left: 0
		right: 0
		bottom: 10px
		margin: 0 auto
		font-size: 12px
		line-height: 14px
		color: #184487
		text-align: center

		span
			display: block
			margin-bottom: 8px




.scroll-icon
	display: inline-block
	width: 26px
	height: 26px
	background: url(../img/down.svg)


@keyframes sheen
  100%
    right: 100%
    opacity: 0


.btn
	position: relative
	display: inline-block
	padding: 20px 55px
	font-family: Akrobat
	font-style: normal
	font-weight: 900
	font-size: 20px
	line-height: 24px
	text-align: center
	letter-spacing: 0.05em
	text-transform: uppercase
	color: #000000
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5)
	background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%)
	box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
	border-radius: 4px
	border: none
	outline: none

	&:hover, &:focus
		opacity: 1
		background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%)
		box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 50px rgba(255, 255, 255, 0.8)
		border-radius: 4px

		&::before
			animation: sheen .5s forwards

	&:active
		background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%)
		box-shadow: 0px 2px 0px #CE8E0F, inset 0px 0px 15px rgba(0, 0, 0, 0.3)
		border-radius: 4px

	&::before
		content: ''
		right: 27px
		top: 0
		position: absolute
		transform: skewX(-18deg)
		width: 60px
		height: 64px
		background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)


	&-transparent
		border: 1px solid #B4720F
		background: #fff
		color: #B4720F
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5)
		box-shadow: none

		&:hover, &:focus
			opacity: 1
			background: #FFF5E7
			box-shadow: none

		&:active
			box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3)

		&::before
			display: none

	&-blue
		color: #fff
		background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%)
		box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
	
		&:hover, &:focus
			color: #fff
			background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%)
			box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8)

		&:active
			background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%)
			box-shadow: 0px 2px 0px #184487, inset 0px 0px 15px rgba(0, 0, 0, 0.3)


		&::before
			right: 120px









.section
	padding: 0 0 150px

	.h2
		margin-bottom: 50px
		text-align: center

	&-slider
		margin-left: -15px
		margin-right: -15px
		margin-bottom: 30px

		&__btn
			text-align: center

			.btn
				max-width: 370px
				width: 100%

		&__item
			margin-left: 15px
			margin-right: 15px

			&--img
				display: block
				margin-bottom: 20px

				img
					width: 100%

		.slick-arrow
			width: 60px
			height: 60px
			background: linear-gradient(266.83deg, #F2BF09 0%, #EBA215 100%)
			box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
			border-radius: 5px

		.slick-next
			right: -65px

			&::before
				content: ''
				position: absolute
				left: 24px
				top: 24px
				width: 11px
				height: 16px
				background: url(../img/next-ic.svg)

		.slick-prev
			left: -65px

			&::before
				content: ''
				position: absolute
				left: 24px
				top: 24px
				width: 11px
				height: 16px
				background: url(../img/prev-ic.svg)

		&__blue
			.slick-arrow
				background: linear-gradient(266.83deg, #147DDD 0%, #0E469B 100%)
				box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4)

			.slick-next
				&::before
					background: url(../img/next-ic-w.svg)

			.slick-prev
				&::before
					background: url(../img/prev-ic-w.svg)



.color-gold
	color: $main

.video
	background: url(../img/wheat.png) no-repeat left top

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&-item
		width: 48%
		padding: 40px
		background: #F2F2F2
		border-radius: 8px

		&__uav
			padding: 0
			background: #fff

		&__video
			position: relative
			margin-bottom: 30px

			img
				display: block

		.h3
			margin-bottom: 26px

		p
			margin-bottom: 26px
			color: #4D4D4D

	&-play
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center

		&:hover
			opacity: 1
			transform: scale(1.1)




.play-icon
	width: 60px
	height: 60px
	background: url(../img/play-ic.png)


.step

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap

		&::before
			content: ''
			position: absolute
			right: -200px
			top: -135px
			width: 404px
			height: 425px
			background: url(../img/spikelets-1.png)

	&-item
		width: 25%
		height: 220px
		border: 1px solid #E6E6E6
		

		&__number
			margin-bottom: 15px
			font-family: Akrobat
			font-style: normal
			font-weight: 900
			font-size: 60px
			line-height: 68px
			letter-spacing: 0.02em
			text-transform: uppercase
			color: #E6E6E6
			transition: all .3s

		span
			display: block
			margin-bottom: 35px
			font-family: Akrobat
			font-style: normal
			font-weight: bold
			font-size: 18px
			line-height: 26px
			letter-spacing: 0.01em

		.btn
			opacity: 0
			padding-left: 30px
			padding-right: 30px
			width: 100%
			background: rgba(255, 255, 255, 0.3)

			&::before
				display: none

			&:hover, &:focus
				background: rgba(255, 255, 255, 0.3)

		&__wrap

			padding: 20px
			transition: all .3s

		&:hover
			

			.step-item__wrap
				position: relative
				background: linear-gradient(266.98deg, #F2BF09 0%, #EBA215 100%)
				box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
			.step-item__number
				color: #fff

			.btn
				opacity: 1

	&-blue

		.step-wrap
			&::before
				display: none

		.step-item
			height: 260px

			.btn
				background: rgba(255, 255, 255, 0.3)
				box-shadow: none
				color: #fff
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)

			&:hover
				.step-item__wrap
					min-height: 260px
					background: linear-gradient(266.98deg, #147DDD 0%, #0E469B 100%)
					box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4)

				
					span
						color: #fff

		&__bg
			
			.step-wrap
				&::before
					content: ''
					display: block
					position: absolute
					right: -200px
					top: -135px
					width: 404px
					height: 425px
					background: url(../img/spikelets-1.png)

				
			



.request
	position: relative
	max-width: 1920px
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 auto 200px

	>img
		position: absolute
		left: 0
		right: 0
		margin: auto
		bottom: -120px
		margin 0 auto


	&-item
		position: relative
		width: 50%
		min-height: 600px

		img
			display: block
			object-fit: cover
			width: 100%
			height: 100%

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			justify-content: flex-end
			align-items: center

	&-form
		max-width: 370px
		margin-right: 100px

		&__field
			display: flex
			align-items: center
			justify-content: space-between
			width: 858px

		.form-item__label
			color: #fff
		
		.h2
			color: #fff

		.h5
			margin-bottom: 24px
			color: #fff

		.form-field
			border: 1px solid #EBEBEB
			color: #fff

			&:focus
				border-color: #fff

		.btn
			width: 100%

		.form-check input[type="checkbox"] + label
			color: #fff

			&::before
				border: 1px solid #fff
				background-color: transparent
				backdrop-filter: blur(25px)

		*::-webkit-input-placeholder 
  			color: #fff
		*:-moz-placeholder
			color: #fff
		*::-moz-placeholder
			color: #fff
		*:-ms-input-placeholder
			color: #fff

	&-two
		display: block
		
		background: url(../img/request-bg.png) no-repeat
		background-size: cover

		.request-form
			margin-right: 0
			max-width: none

			.form-item
				width: 270px
				margin-bottom: 0

			.btn
				position: relative
				width: 270px
				z-index: 1

			.form-check
				margin: 24px 0 0

		.container
			display: flex
			align-items: center
			height: 100%
			min-height: 424px



	&-wrap
		position: relative

		&::before
			content: ''
			position: absolute
			left: 77%
			top: -30px
			width: 739px
			height: 460px
			background: url(../img/combine-2.png) no-repeat
	

	&-uav
		
		.request-wrap
			&::before
				content: ''
				position: absolute
				left: 65%
				top: -200px
				width: 980px
				height: 600px
				background: url(../img/aircraft-2.jpg) no-repeat

		






.form

	&-item
		position: relative
		margin-bottom: 24px

		&__label
			position: absolute
			left: 15px
			top: 20px
			font-size: 16px
			cursor: text
			transform-origin: top left
			transform: translate(0, 0) scale(1) 
			transition: all .1s ease-in-out

		&.active

			label
				font-size: 10px
				transform: translate(0, -18px)


	&-field
		position: relative
		width: 100%
		height: 60px
		padding: 0 20px
		line-height: 60px
		font-size: 16px
		background: rgba(255, 255, 255, 0.25)
		border: 1px solid #CCCCCC
		box-sizing: border-box
		backdrop-filter: blur(25px)
		border-radius: 4px

		&:hover
			opacity: 1
			border: 1px solid #999999

		&:focus
			opacity: 1
			border: 1px solid #147DDD
			outline: none
	
	&-check
		margin: 30px 0 0

		input[type="checkbox"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 50px
				cursor: pointer
				font-size: 14px
				line-height: 18px

				&::before
					content: ''
					position: absolute
					left: 0
					top: 3px
					width: 30px
					height: 30px
					background: #B4720F
					backdrop-filter: blur(25px)
					border-radius: 4px

			&:checked
				&+label
					&::before
						background-image: url(../img/check-ic.svg)
						background-repeat: no-repeat
						background-position: center
		



.footer
	padding: 80px 0 0
	background: linear-gradient(180deg, #F2F9FC 0%, #F5F7F7 100%)

	&-top
		display: flex
		padding-bottom: 60px
		justify-content: space-between

		&__left
			display: flex

			.footer-links
				ul
					display: block

					li
						width: auto


	&-contacts
		padding-right: 60px

	&-tel
		display: inline-block
		margin-bottom: 30px
		font-family: Akrobat
		font-style: normal
		font-weight: bold
		font-size: 22px
		line-height: 26px

	&-time
		position: relative
		margin-bottom: 30px
		padding-left: 25px

		strong
			display: block
			margin-bottom: 4px
			font-size: 14px
			line-height: 16px

		span
			font-size: 14px
			line-height: 16px
			color: #4D4D4D
		
		&::before
			content: ''
			position: absolute
			left: 0
			top: 2px
			width: 16px
			height: 16px
			border-radius: 50%
			border: 1px solid #228909

		&::after
			content: ''
			position: absolute
			left: 5px
			top: 7px
			width: 8px
			height: 8px
			border-radius: 50%
			background: #228909

	&-address
		position: relative
		padding: 0 0 0 25px
		margin-bottom: 20px

		&:last-child
			margin-right: 0

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 12px
			height: 18.5px
			background: url(../img/marker-ic.svg)

		strong
			display: block
			margin-bottom: 4px
			font-size: 14px
			line-height: 16px

		span
			font-size: 14px
			line-height: 16px
			color: #666

	&-mail
		position: relative
		display: inline-block
		margin-bottom: 30px
		padding-left: 24px
		font-size: 14px
		line-height: 19px

		>span
			border-bottom: 1px dashed


		&::before
			content: ''
			position: absolute
			left: 0
			top: 4px
			width: 18px
			height: 14px
			background: url(../img/mail-ic.svg)


	&-code
		list-style: none

		li
			font-size: 14px
			line-height: 20px

	&-links

		.h4
			margin-bottom: 25px
			font-weight: bold
			font-size: 22px
			line-height: 26px

		ul
			display: flex
			flex-wrap: wrap
			list-style: none
			max-width: 570px

			li
				width: 50%
				margin-bottom: 20px

				&:last-child
					margin-bottom: 0
				a
					font-size: 14px
					line-height: 20px
					color: #414141


	&-bottom
		border-top: 1px solid #E6E6E6
		font-size: 14px

		&__wrap
			display: flex
			justify-content: space-between
			padding: 24px 0

		&__left
			display: flex

	&-copy
		padding-right: 60px

	&-dev
		span
			padding-right: 10px

		>a
			display: inline-block
			vertical-align: middle

.modal
	max-width: 940px
	padding: 0
	display: none
	border-radius: 8px

	&-wrap
		display: flex
		border-radius: 8px

		img
			border-radius: 8px 0 0 8px

	&-body
		position: relative
		padding: 70px 90px 70px 43px
		background: #fff
		border-radius: 0 8px 8px 0

		&::before
			content: ''
			position: absolute
			right: 0
			bottom: 0
			width: 199px
			height: 168px
			background: url(../img/spikelets-3.png) no-repeat

	&-form
		margin-top: 30px

	.fancybox-button
		background: #F3F3F3
		border-radius: 0px 8px

	.btn
		position: relative
		width: 100%
		z-index: 10

	&-combine

		.modal-body
			&::before
				content: ''
				position: absolute
				right: 0
				bottom: 0
				width: 225px
				height: 173px
				background: url(../img/combine-3.png) no-repeat


	&-uav

		.modal-body
			&::before
				content: ''
				position: absolute
				right: 0
				bottom: 0
				width: 190px
				height: 200px
				background: url(../img/aircraft-3.jpg) no-repeat


.h1
	position: relative

	&-footnote
		position: absolute
		bottom: calc(100% + 10px)
		left: 0
		padding: 5px 10px
		font-size: 28px
		line-height: 34px
		background: linear-gradient(262.83deg, #F2BF09 0%, #EBA215 100%)
		border-radius: 4px 4px 4px 0px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 100%
			border: 10px solid transparent
			border-top: 10px solid #F2BF09
			border-left: 10px solid #F2BF09


.video-review
	position: relative
	padding-bottom: 100px

	.h2
		margin-bottom: 25px

	.h5
		margin-bottom: 50px
		text-align: center

	.video-item__video
		margin-bottom: 0

	.play-icon
		width: 150px
		height: 150px
		background: url(../img/play-big-ic.png)




	&::before
		content: ''
		position: absolute
		right: 0
		top: -150px
		width: 435px
		height: 321px
		background: url(../img/spikelets-4.png) no-repeat



.characteristics
	background: url(../img/combine.png) no-repeat left -50px

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap
		background: linear-gradient(180deg, #DAF3FF 0%, #FCFCFC 0.01%, #D8E4EB 100%)
		box-shadow: inset 0px 0px 50px rgba(171, 209, 228, 0.25)
		border-radius: 8px

		&::before
			content: ''
			position: absolute
			top: -100px
			right: 0
			width: 229px
			height: 155px
			background: url(../img/spikelets-5.png) no-repeat

	&-item
		padding: 50px 37px
		border-left: 1px solid rgba(128, 128, 128, 0.5)
		box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5)

		&:first-child
			border: none

		strong
			display: block
			margin-bottom: 5px
			font-family: Akrobat
			font-style: normal
			font-weight: bold
			font-size: 28px
			line-height: 34px
			letter-spacing: 0.01em
			color: #000000

		span
			font-size: 14px
			line-height: 20px
			color: #262626

			&.color-grey
				font-size: 12px
				line-height: 14px
				color: #737373

.features

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap

		&::before
			content: ''
			position: absolute
			top: -100px
			left: -270px
			width: 404px
			height: 425px
			background: url(../img/spikelets-6.png) no-repeat

		&:last-of-type
			&::before
				display: none


	&-item
		width: 50%
		height: 340px
		border: 1px solid #E6E6E6

		&__wrap
			padding: 40px
			
			transition: all .3s

			.h5
				margin-bottom: 5px
				font-size: 18px
				font-weight: bold
				transition: all .3s

			p
				max-width: 470px
				color: #4D4D4D
				transition: all .3s

			.btn
				position: relative
				width: 100%
				visibility: hidden
				transition: none
				background: rgba(255, 255, 255, 0.3)
				box-shadow: none



				&::before
					display: none

				&:hover
					background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%)
					box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8)

		&:hover
			.features-item__wrap
				position: relative
				min-height: 100%
				background: linear-gradient(266.03deg, #147DDD 0%, #0E469B 100%)
				box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
				color: #fff
				z-index: 10

			.h5, p
				color: #fff

			p
				margin-bottom: 35px

			.btn
				visibility: visible
				z-index: 1

.uav
	position: relative
	background: url(../img/aircraft.png) no-repeat left bottom

	&::before
		content: ''
		position: absolute
		right: 0
		top: -100px
		width: 322px
		height: 528px
		background: url(../img/satellite.png)

	.h2
		margin-bottom: 25px

	.h5
		margin-bottom: 50px
		text-align: center

	.h3
		margin-bottom: 50px
		text-align: center

	&-slider
		max-width: 970px
		margin: 0 auto 20px


		.slick-arrow
			width: 60px
			height: 60px
			background: linear-gradient(266.83deg, #F2BF09 0%, #EBA215 100%)
			box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4)
			border-radius: 5px

		.slick-next
			right: -90px

			&::before
				content: ''
				position: absolute
				left: 24px
				top: 24px
				width: 11px
				height: 16px
				background: url(../img/next-ic.svg)

		.slick-prev
			left: -90px

			&::before
				content: ''
				position: absolute
				left: 24px
				top: 24px
				width: 11px
				height: 16px
				background: url(../img/prev-ic.svg)

		&__item

			img
				margin: 0 auto 20px

			span
				display: block
				text-align: center

	&-btn
		text-align: center



.slick-slide
	outline: none




.icon

	&-block
		display: flex
		justify-content: space-between

		&__item
			width: 33%

			img
				display: block
				margin: 0 auto 20px

			span
				display: block
				font-size: 16px
				line-height: 26px
				text-align: center
				color: #4D4D4D



.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
		opacity: 1
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #000
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)









@media only screen and (max-width: 1919px)
	.content
		overflow: hidden















@media only screen and (max-width: 1365px)
	.section-slider, .uav-slider
		max-width: calc(100% - 100px)
		margin: 0 auto 30px

		.slick-arrow
			width: 40px
			height: 40px
			
			&::before
				left: 15px
				top: 14px

		.slick-prev
			left: -45px

		.slick-next
			right: -45px


	.header-contacts__item
		margin-right: 25px

		span
			font-size: 12px

	.banner
		height: 650px

		&-combine
			height: 700px

		&-uav
			height: 700px

	h1, .h1
		font-size: 50px
		line-height: 60px

	.section
		padding: 0 0 100px

	.step-item
		width: 33.3333%

	.footer-links ul
		max-width: 420px

	.characteristics-item
		width: 20%

	.uav::before
		display: none

	.request-uav .request-wrap::before
		display: none

	.request.request-two.request-uav
		padding: 50px 0











@media only screen and (max-width: 991px)
	.burger-menu
		display: block

	.header

		.header-contacts
			display: none

	.mm-spn li.mobile-menu__contacts
		padding: 0 20px

		&::before
			display: none
		.header-contacts
			display: block

		.header-contacts__item
			margin-bottom: 20px

	.mm-spn.mm-spn--navbar ul:before
		display: none

	.header-contacts__item span
		padding: 0

	.mm-spn.mm-spn--navbar.mm-spn--main:after
		display: none

	.header-tel
		text-align: center

	.banner
		height: 620px

	h1, .h1
		font-size: 40px
		line-height: 50px

	.step-item
		width: 50%

	.request
		margin-bottom: 100px

		&-item
			width: 100%

			&__img
				display: none

			&__overlay
				justify-content: center

				.request-form
					margin: 0
		>img
			display: none

	.footer
		padding: 50px 0 0

	.footer-top
		display: block
		padding-bottom: 0

		&__left
			display: block

	.footer-contacts
		padding: 0 0 30px


	.footer-links
		margin-bottom: 20px
		border: 1px solid $main

		.h4
			position: relative
			padding: 11px 15px 12px
			margin: 0
			

			&::before
				content: ''
				position: absolute
				right: 15px
				top: 20px
				border: 10px solid transparent
				border-top: 10px solid $main

		ul
			display: none
			padding: 0 20px 20px

			li
				margin-bottom: 10px
				width: auto

	.footer-top__left .footer-links ul
		display: none

	.modal-wrap img
		display: none

	.modal-body
		padding: 30px

		&::before
			display: none

	h5, .h5
		font-size: 14px

	.modal
		.form-check input[type="checkbox"] + label
			font-size: 12px
			line-height: 16px


	.characteristics-item
		width: 50%
		border: none

	.characteristics-wrap::before
		display: none

	.request-form__field
		display: block

	.request-two
		.container
			min-height: 480px

		.request-form
			max-width: 270px
			margin: 0 auto
			.form-field
				display: block
				margin-bottom: 15px

	.features-wrap::before
		display: none


	.video-review::before
		display: none

	.features-item
		width: 100%

	.step-blue__bg .step-wrap::before
		display: none


	.banner

		&-combine
			height: 700px

		&-uav
			height: 700px
























@media only screen and (max-width: 768px)
	
	.header-logo
		max-width: 120px

	.banner
		padding: 30px 0
		margin-bottom: 50px
		height: auto
		background: #F2F2F2
		text-align: center

		&-combine
			padding-top: 60px

		&-overlay
			position: static

			&__text
				padding-bottom: 0

		&-scroll
			display: none

		.h1
			margin-bottom: 25px

		.container
			display: block

	.btn
		padding: 15px 30px
		font-size: 18px
		line-height: 22px

		&::before
			height: 53px

	h2, .h2
		font-size: 34px
		line-height: 42px

	.section
		padding: 0 0 50px

		.h2
			margin-bottom: 30px


	.video
		background: transparent

		&-item
			padding: 20px

	.step-wrap::before
		display: none

	.footer-bottom__wrap
		display: block
		text-align: center

	.footer-bottom__left
		display: block

	.footer-copy
		display: block
		padding: 0

	.footer-privacy
		display: inline-block
		padding: 5px 0

	.h1-footnote
		font-size: 20px

	.features-item__wrap
		padding: 20px

	.features-item
		height: auto

	.video-review .play-icon
		width: 60px
		height: 60px
		background-size: cover

	.icon-block
		display: block

		&__item
			max-width: 290px
			width: auto
			margin: 0 auto 30px


	.banner-uav
		padding-top: 60px

		.h1
			font-size: 34px
			line-height: 40px

	.request-two .request-form .form-field
		width: 100%

	.request-form__field
		width: auto

	.request-two .container
		justify-content: center








@media only screen and (max-width: 479px)
	
	.video-wrap
		display: block

	.video-item
		width: 100%
		margin-bottom: 20px

	.header
		padding: 5px 0

	.header-logo
		max-width: 100px

	.header-tel__number
		font-size: 16px
		line-height: 22px

	.header-tel__callback
		font-size: 12px
		line-height: 18px

	h1, .h1
		font-size: 36px
		line-height: 42px

	h2, .h2
		font-size: 28px
		line-height: 34px

	.section-slider
		max-width: calc(100% - 40px)

		.slick-next
			right: -30px

		.slick-prev
			left: -30px

	.slick-next
		right: -30px

	.slick-prev
		left: -30px

	.uav-slider
		max-width: calc(100% - 60px)

	.section-slider__item--img
		margin-bottom: 5px

	.video-item__video
		margin-bottom: 15px

	.video-item 
		.h3
			margin-bottom: 15px

		p
			margin-bottom: 14px

	p
		font-size: 14px
		line-height: 22px
	

	.step-item

		&__wrap
			padding: 15px
		
		&__number
			font-size: 40px
			line-height: 30px

		span
			font-size: 14px
			line-height: 18px

		.btn
			padding: 2px 8px
			font-size: 12px

	.request-item
		min-height: 460px


		.request-form
			max-width: none
			padding: 0 15px

	.request 
		margin-bottom: 50px


	.characteristics-item
		padding: 15px

	.characteristics-item strong
		font-size: 18px

	.characteristics-item span
		font-size: 12px
		line-height: 14px

	.characteristics-item span.color-grey
		font-size: 10px


	.banner-uav

		.h1
			font-size: 26px
			line-height: 34px

	.icon-block__item span
		font-size: 12px
		line-height: 20px

	.uav-slider__item span
		font-size: 12px

	.uav-slider__item img
		margin: 0 auto 10px

	.header-fixed + .content
		padding-top: 50px